html{
  font-family: 'Montserrat', sans-serif;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #000;
}


/* Inicio de Estilo Generales */

.no-margin {
  margin: 0;
}


.errorBorder input[type=text]{
  box-shadow: 0 0 5px rgba(223,116,0, 1);
  border: 1px solid rgba(223,116,0, 1);
}

.errorBorder select{
  box-shadow: 0 0 5px rgba(223,116,0, 1);
  border: 1px solid rgba(223,116,0, 1);
}

.error{
  color: #df7400;
}



.ng-hide:not(.ng-hide-animate) {
  display: block!important;
  visibility:hidden!important;
}

.ng-hide{
  display: block!important;
  visibility:hidden!important;
}




.layout-padding, .layout-padding-gt-sm, .layout-padding-gt-sm > *, .layout-padding-md, .layout-padding-md > *, .layout-padding > *, .layout-padding > .flex, .layout-padding > .flex-gt-sm, .layout-padding > .flex-md {
    padding: 0;
}

md-content.md-default-theme, md-content {
  background-color: #000;
}

md-nav-bar.md-default-theme .md-nav-bar, md-nav-bar .md-nav-bar {
    padding: 0px;
    background-color: #000;
    color: #fff;
}

md-sidenav.md-default-theme, md-sidenav, md-sidenav.md-default-theme md-content, md-sidenav md-content {
  /*background-image: linear-gradient(135deg, #3F51B5 0%, #667eea 100%);*/
  background-color: rgba(0, 0, 0, 0.8);

}

md-toolbar:not(.md-menu-toolbar) {
  background: #000;
  color: #fff;
}


md-sidenav h2{
  color:#fff;
}
.bg-sidenav{
  background:url(../componentes/imagenes/estudiante.jpeg);
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
}
.bg-sidenavEmp{
  background:url(../componentes/imagenes/empresarial.jpg);
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
}

.md-nav-bar {
    border-style: solid;
    border-width: 0 0 1px;
    height: 60px;
    position: relative;
}
.md-input-focused label{
  color: #000 !important;
}

.md-button{
min-height: 0;
 min-width: 0;
}

md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused .md-input, md-input-container:not(.md-input-invalid).md-input-focused .md-input, md-input-container.md-default-theme:not(.md-input-invalid).md-input-resized .md-input, md-input-container:not(.md-input-invalid).md-input-resized .md-input {
  border-color: #000;
  margin: 5px 0;
}

md-input-container .md-input{
  color: #000;
}

md-input-container.md-default-theme .md-placeholder, md-input-container .md-placeholder, md-input-container.md-default-theme label, md-input-container label {
  color: #000;
}
md-datepicker input{
	color:#000;
}
md-input-container label{
	color:#000;
}
md-input-container input{
	color:#000;
}
md-input-container {
  display: inline-block;
  position: relative;
  padding: 2px;
  margin: 20px 0;
  vertical-align: middle;
}

form{
  font-size: 16px;
  margin: 0px 30px;
}

.menuFeatures{
  display: block;
  width: 180px;
}
.profilePic, .formActionButton{
  text-align: center;
}
.register{
  background-color:#fbb803;
  border: 2px solid #fbb803;
  padding: 0px 30px;
  margin:10px;
  color: #000;
  text-align: right;
}
.register:hover{
  background-color: #fbe103;
  transition: 0.3s ease-out;
}

md-toolbar i{
  padding-right: 30px;
  padding-left: 30px;
}
.session{
  padding: 10px 35px 10px 5px;
  font-size: 15px;
  border: none;
  background-color:transparent;
}

.icono{
  padding: 5px;
}

.sesion{
  padding: 20px 30px;
  color: #fbb803;
  border: none;
  background-color:transparent;
}
.session:hover{
  color: #fbb803;
  transition: 0.3s ease-out;
}

span{
  padding: 1%;;
  display:block;
}
i{
  color:#fff;
  padding: 8px 0px;
  font-size:15px;
}
.mdi{
  padding: 0 20px 10px 20px;
}

.mar-left{
	margin-right:30px;
}

/* Fin de Estilo Generales */

#outputAlert{
  color:blue;
  font-family:'Montserrat';
}

#formLogin, #formRegister{
  margin: 20px auto;
  padding: 10px 0;
}

/*inicio proyectos*/

md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {
    min-height: 658px;
}
.fixed{
  position:fixed;
}
.md-pad{
  padding:20px;
}
/*fin de proyectos*/

/* Inicio Estilos Administrador*/
#administrador .btn-primary{
  color: #fff;
  background-color: transparent;
  border-color: transparent;
  border-radius: 0;
  font-size: 10px;
  font-weight: bold;
  outline: none;
  padding: 0 5px;
}

#bg-administrador{
  background-image: url("../componentes/imagenes/bg-administrador.jpg");
  background-position: center center;
  background-size: cover;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;

}

#bg-administrador h1{
  color: #fbb803;
  margin-top: 250px;
  font-weight: bolder;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 50px;
}

/* Fin Estilos Administrador*/


/************************log in***********************************/
#bgLogIn{
  background-image: url('../componentes/imagenes/aulascenfo.jpg');
  background-position: center center;
  background-repeat: no-repeat;
}

#bgLogIn > h1{
  color: #fbb803;
  font-weight: bold;
  font-size: 3rem;
}

#bgLogIn > h2{
  color: #fff;
  font-weight: bold;
  font-size: 4rem;
}

#contrasenna{
  color: #000;
}

/************************************ INICIO LANDING ****************************************************/

body #landing {
  padding-top: 96px;
  color: #fff;
}

/* Start of Header Navigation */

header .navbar{
  border-radius: 0;
  border: none;
  background: #000;
  height: 96px;
}

header .navbar-default .navbar-brand img{
  margin-left: 66px;
}

header .navbar-default .navbar-nav a {
  color: #fff;
  font-size: 1.286em; /*18px*/
  outline: none;
}

header .nav>li>a {
  padding: 0;
  margin: 40px 30px;
  margin-bottom: 0;
  outline: none;
}

header .navbar-default .navbar-nav a:hover{
  color: #fbb803;
}

header .navbar-default .navbar-nav a:active{
  background-color: #000;
  color: #fbb803;

}

header .navbar-right{
  margin-right: 20px;
}

header .navbar-collapse {
  background-color: #000;
}


header .navbar-default .navbar-toggle .icon-bar {
    background-color: #fbb803;
}

/* End of Header Navigation */

/* Start Section Cover */

#cover{
  background-image: url("../componentes/imagenes/cover.jpg");
  background-position: center center;
  background-size: cover;
  height: 690px;
  max-width: 100%;
}

#cover .right{
  padding: 0 60px;
  padding-top: 70px;
  text-align: center;
}

#cover h1{
  color: #fff;
  font-size: 115px;
  padding-top: 190px;
  padding-left: 100px;
}

#cover #monitor {
  display:inline-block;
  color: #fbb803;
  font-size: 250px;
}

#cover h2{
  font-size: 48px;
  text-align: left;
}

#cover p{
  text-align: left;
}

#cover .btn-primary {
    color: #000;
    margin-top: 60px;
    background-color: #fbb803;
    border-color: #fbb803;
    border-radius: 0;
    width: 240px;
    height: 50px;
    font-size: 25px;
    font-weight: bold;
}

/* End Section Cover */

/* Start Section Nosotros */

#nosotros{
  height: 800px;
  color: #000;
}

#nosotros h2{
  padding: 0 40px 50px 60px;
  padding-top: 130px;
  font-weight: bold;
}

#nosotros p{
  padding: 0 40px 30px 60px;
}

#nosotros .first-image{
  padding: 120px 0 30px 0;
}

#nosotros .rigth{
  padding: 0 45px;
}

/* End Section Nosotros */


/* Start Section Servicios */
#servicios{
  background-image: url("../componentes/imagenes/cenfotec_lounge_centro.jpg");
  background-position: center center;
  background-size: cover;
  height: 740px;
  max-width: 100%;
  color: #fff;
}

#servicios h2{
  margin: 80px 0px 100px 0;
  color: #fbb803;
  font-weight: bold;
}

#servicios .servicio{
  display: inline;
  float: left;
  width: 240px;
  height: 200px;
  text-align: center;
  background-color: rgba(48, 46, 40, 0.8);
  margin: 20px;
  padding: 20px;
}

#servicios .servicio i{
  padding-top: 10px;
  color: #fbb803;
}
/* End Section Servicios */

/* Start Section Solicitudes */

#solicitudes{
  height: 800px;
}

#solicitudes h2{
  color: #000;
  font-weight: bold;
  margin: 80px 0;
}

#solicitudes .solicitud{
  width: 700px;
}

#solicitudes #solicitudEstudiante{
  background-image: url("../componentes/imagenes/estudiantes.gif");
  background-position: center center;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 500px;
  padding: 80px;
  margin: 0 auto;
  color: #fff;
}

#solicitudes #solicitudEmpresarial{
  background-image: url("../componentes/imagenes/cenfotec_empresa.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 500px;
  padding: 80px;
  margin: 0 auto;
  color: #fff;
}

#solicitudes h3{
  font-size: 40px;
}

#solicitudes .btn-primary {
    color: #000;
    margin-top: 60px;
    background-color: #fbb803;
    border-color: #fbb803;
    border-radius: 0;
    max-width: 300px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
}

/* End Section Solicitudes */


/* Start Footer*/

footer #left-side-contact{
  background-color: #232323;
  height: 650px;
  padding: 80px;
  color: #fff;
}

footer #left-side-contact td{
  padding-right: 20px;
  padding-top: 5
}

footer #left-side-contact h2{
  color: #fbb803;
  font-size: 40px;
  margin-bottom: 40px;
  font-weight: bold;
}

footer #left-side-contact a{
  color: #fff;
}



footer #right-side-contact{
  background-color: #fbb803;
  height: 650px;
  padding: 80px;
}

footer #right-side-contact h2{
  color: #000;
  font-size: 40px;
  margin-top: 100px;
  font-weight: bold;
}

footer #right-side-contact .social-media-contact i{
  padding: 50px;
  color: #000;
}

footer #right-side-contact .social-media-contact a i:hover{
  color: #fff;
  -webkit-transform: scale(1.2);
}

footer .copy-right{
  height: 80px;
  background-color: #3b3b3b;
  color: #fff;
}

footer .copy-right p{
  font-size: 18px;
  margin: 0;
  padding-top: 14px;
  text-align: left;
}

footer .copy-right img{
  margin: 0;
  padding-left: 20px;
  text-align: left;
}

footer .copy-right i{
  color: #fbb803;
}

.no-padding{
  padding: 0;
  height: 80px;
}

/************************************ FIN LANDING ****************************************************/


#bg-contrasenna{
  background-image: url("componentes/imagenes/aulascenfo.jpg");
  background-position: center center;
  background-size: cover;
  height: 790px;
}

/*Estilos administrador*/
.dropdown-menu{
  background:transparent;
}
.dropdown-menu ul{
  color:#fff;
    background:transparent;
}
.dropdown-menu li a{
  color:#fff;
  background:transparent;
}
.dropdown-menu>li>a:hover {
     color: #fbb803;
    text-decoration: none;
   background-color:transparent;
}
.drop{
  background-color: transparent;
  padding: 10px 30px;
  color: #fff;
  border: none;
}
.drop:hover{
  color:#fbb803;
}
.btn:focus, .btn:hover {
     color: #fbb803;
    text-decoration: none;
}
/*fin estilos administrador*/

/* Incio estilos Empresa */

#empresa #bg-empresa{
  background-image: url("../componentes/imagenes/empresarial.jpg");
  background-position: center center;
  background-size: cover;
  height: 100vh;
}

#empresa #bg-empresa h1{
  color: #fff;
  font-weight: bold;
  padding-top: 20vh;
}

#empresa #bg-empresa p{
  color: #fff;
}

#empresa #bg-empresa img{
  padding-top: 15vh;
}

#empresa label{
  padding-top: 5vh;
}

#empresa .form-control{
  border-radius: none;
  -webkit-appearance: none;
}

#empresa .btn-primary{
    color: #000;
    margin-top: 60px;
    background-color: #fbb803;
    border-color: #fbb803;
    border-radius: 0;
    width: 240px;
    height: 50px;
    font-size: 25px;
    font-weight: bold;

}

/* Fin estilos Empresa */


/* Incio estilos solicitudEstudiante */
#solicitudEstudiante #bg-solicitudEstudiante{
  background-image: url("../componentes/imagenes/pexels-photo-306534.jpeg");
  background-position: center center;
  background-size: cover;
  height: 100vh;
}

#solicitudEstudiante #bg-solicitudEstudiante h1{
  color: #fff;
  font-weight: bold;
  padding-top: 20vh;
}

#solicitudEstudiante #bg-solicitudEstudiante p{
  color: #fff;
}

#solicitudEstudiante #bg-solicitudEstudiante img{
  padding-top: 15vh;
}

#solicitudEstudiante #lb-correo{
  font-size: 22px;
}

form #solicitudEstudiante label md-select{
  color: #000;
}
/* Fin estilos solicitudEstudiante */


/* Incio estilos Carreras y Cursos */

#carreras .btn-primary{
  color: #fff;
  background-color: #fbb803;
  border-color: #fbb803;
  border-radius: 0;
  font-size: 10px;
  font-weight: bold;
  outline: none;
  padding: 0 10px;
}

#carreras h2{
  color: #fbb803;
  font-weight: bolder;
  padding: 50px 0;
}

#carreras .btn-primary i{
  font-size: 19px;
  color: #000;
}

#carreras table {
  background-color: rgba(0, 0, 0, 0.8);
}

#carreras table th {
  color: #fbb803;
}

#carreras table td {
  color: #fff;
}

#carreras button{
  background-color: transparent;
  border: none;
}

#carreras a.button:hover{
  color: #fbb803;
}

{
  height: 15px;
}







/* Fin estilos  Carreras y Cursos */

/* Incio estilos Iniciar Sesion */

#inicioSesion #bg-inicioSesion{
  background-image: url("../componentes/imagenes/aulascenfo.jpg");
  background-position: center center;
  background-size: cover;
  height: 100vh;
}

#inicioSesion .right-side{
  padding: 100px 60px;
}

#inicioSesion #bg-inicioSesion img{
  padding-top: 15vh;
  padding-bottom: 15vh;
}

#inicioSesion #bg-inicioSesion h2{
  color: #fbb803;
  padding-left: 10vh;
  font-size: 50px;
  font-weight: bold;
  text-align: left;
}

#inicioSesion #bg-inicioSesion h2:last-child{
  color: #fff;
}

#inicioSesion i{
  color: #000;
  padding-right: 5px;

}


#inicioSesion .btn-primary{
    color: #000;
    background-color: #fbb803;
    border-color: #fbb803;
    border-radius: 0;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
}

md-sidenav md-content {
  background-color: transparent;
}



/* Fin estilos  Iniciar Sesion */
