<section layout="row" flex id="asistente">

  <md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop md-whiteframe="4">

    <md-toolbar class="md-theme-indigo">
      <h1 class="md-toolbar-tools">  <i class="fa fa-user-o" aria-hidden="true"></i>Asistente</h1>
    </md-toolbar>

    <md-content layout-margin>
      <a ui-sref="asistente"><img src="componentes/imagenes/logoC.png" alt="logo Soft House"></a>
      <ul>
        <li><button class="sesion" layout-aling="center end" ui-sref="asistente.revision">Proyectos en revisión</button></li>
        <li><button class="sesion" layout-align="center end" ui-sref="estadoEstudiante">Estudiantes</button></li>
        <li>
          <button ng-click="toggleLeft()" class="btn-primary margin-top">
            <i class="fa fa-arrow-left" class="" aria-hidden="true"></i>
          </button>
        </li>
      </ul>      
    </md-content>
  </md-sidenav>

  <md-sidenav class="md-sidenav-right" md-component-id="right" md-disable-backdrop md-whiteframe="4">

    <md-toolbar class="md-theme-indigo">
      <h1 class="md-toolbar-tools">  <i class="fa fa-cog" aria-hidden="true"></i>Opciones</h1>
    </md-toolbar>

    <md-content layout-margin>
      <a ui-sref="asistente"><img src="componentes/imagenes/logoC.png" alt="logo Soft House"></a>
      <ul>
        <li>
            <button layout-aling="center end" class="sesion" ng-click="showDialogCorreo($event)">
              Correo
            </button>
        </li>
        <li>
          <button ng-click="toggleRight()" class="btn-primary margin-top">
            <i class="fa fa-arrow-right" class="" aria-hidden="true"></i>
          </button>
        </li>
      </ul>      
    </md-content>
  </md-sidenav>

  <md-content flex layout-padding>

    <div layout="column" layout-align="top">

      <div>
        <md-nav-bar aria-label="nav-bar" class="md-whiteframe-4dp left" flex>
          <span flex>
            <button ng-click="toggleLeft()" class="btn-primary">
              <i class="fa fa-bars fa-4x" aria-hidden="true"></i>
            </button>
          </span>

          <div class="icono">
            <i class="fa fa-bell-o" aria-hidden="true"></i>
            <button  class="session" layout-align="center end"> Notificaciones</button>
          </div>
          <div class="icono">
            <i class="fa fa-calendar" aria-hidden="true"></i>
            <button  class="session" layout-align="center end"> Calendario</button>
          </div>
          <div class="icono">
            <i class="fa fa-cog" aria-hidden="true"></i>
            <button ng-click="toggleRight()" class="session" layout-align="center end"> Opciones</button>
          </div>
          <div class="icono">
            <i class="fa fa-power-off" aria-hidden="true"></i>
          <button  class="session" ui-sref="inicio" layout-align="center end"> Salir</button>
          </div>
        </md-nav-bar>

      </div>
    </div>
  </md-content>


</section>

<div ui-view id="bg-asistente">
  <div class="col-md-6 col-md-offset-3 text-center">
    <h1>¡Bienvenido Asistente!</h1>
  </div>
</div>

