 <div ng-cloak="" class="inputdemoErrors" ng-app="myEnsamble">
  <div layout="row" >
    <md-sidenav layout-align="start center" md-is-locked-open="true"  flex="25">
      <img src="componentes/imagenes/logoC.png" alt="logo Soft House">
        <button  class="sesion" layout-align="center end" ui-sref="proyectos"> Proyectos</button>    
        <button class="sesion" layout-align="center end" ui-sref="administrador"> Administrador</button>
         <button class="sesion" layout-align="center end" ui-sref="administrador.carrera"> Carreras </button>
        <button class="sesion" layout-align="center end" ui-sref="administrador.profesor"> Profesores </button>
      <!--   <button class="sesion" layout-align="center end"> Reportes</button> -->
       <!--  <button class="sesion" layout-align="center end"> Editar</button> -->
        <button class="sesion" layout-align="center end" ui-sref="estadoEstudiante">Estudiantes</button>
      
    </md-sidenav>
    <md-content flex>
      <md-nav-bar aria-label="nav-bar" class="md-whiteframe-4dp left" flex>
        <span flex></span>
        <div>
          <i class="fa fa-bell-o" aria-hidden="true"></i>
          <button  class="session" layout-align="center end"> Notificaciones</button>
        </div>
        <div>
          <i class="fa fa-calendar" aria-hidden="true"></i>
          <button ui-sref="calendario" class="session" layout-align="center end"> Calendario</button>
        </div>
        <div>
          <i class="fa fa-cog" aria-hidden="true"></i>
          <button  class="session" layout-align="center end"> Opciones</button>
        </div>
        <div>
          <i class="fa fa-user-o" aria-hidden="true"></i>
          <button  class="session" layout-align="center end"> Hola Usuario</button>
        </div>
        <div>
          <i class="fa fa-power-off" aria-hidden="true"></i>
        <button  class="session" ui-sref="inicio" layout-align="center end"> Salir</button>
        </div>
      </md-nav-bar>
      <md-toolbar>
          <h2 class="md-toolbar-tools md-center" >
              <span>Editar estado de estudiantes</span>
          </h2>
      </md-toolbar>
      <div class="container-fluid">
        <div class="row">
            <md-tabs>
              <md-tab label="Estudiantes Pendientes">
               <md-content>
                  <div class="container-fluid" ng-repeat="objProyecto  in estadoEstudianteCtrl.proyectos | filter:{estado:'pendiente'}:true track by $index">
                    <div class="panel-group" id="accordion" >
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <div class="row">
                            <div class="col-md-6">
                              <h4 class="panel-title md-padd">
                                <span>Nombre del estudiante: <a data-toggle="collapse" ng-model="estadoEstudianteCtrl.nombreEstudiante" value="{{objProyecto.nombreEstudiante}}" data-parent="#accordion"> {{objProyecto.nombreEstudiante}}</a></span>
                              </h4>
                            </div>
                            <div class="col-md-6">
                              <div class="col-md-3">
                                <button ng-click="estadoEstudianteCtrl.aceptar(objProyecto)">Aceptar</button>
                              </div>
                              <div class="col-md-3">
                                <button ng-click="estadoEstudianteCtrl.rechazado(objProyecto)">Rechazar</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse in">
                          <div class="panel-body">
                            <p><small>Correo Electrónico:</small></p>
                            <p ng-model="estadoEstudianteCtrl.emailEstudiante" value="{{objProyecto.emailEstudiante}}">
                              {{objProyecto.emailEstudiante}}
                            </p>
                          </div>
                        
                          <div class="panel-body">
                            <p><small>Género:</small></p>
                            <p ng-model="estadoEstudianteCtrl.genero" value="{{objProyecto.genero}}">
                              {{objProyecto.genero}}
                            </p>
                          </div>
                          <div class="panel-body">
                            <p><small>Carrera:</small></p>
                            <p ng-model="estadoEstudianteCtrl.carreraSeleccionada" value="{{objProyecto.carreraSeleccionada}}">
                              {{objProyecto.carreraSeleccionada}}
                            </p>
                          </div>
                          <div class="panel-body">
                            <p><small>Curso seleccionado:</small></p>
                            <p ng-model="estadoEstudianteCtrl.cursoSeleccionado" value="{{objProyecto.cursoSeleccionado}}">
                              {{objProyecto.cursoSeleccionado}}
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  </md-content>
              </md-tab>

              <md-tab label="Estudiantes Aceptados">
                  <md-content>
                      <div class="container-fluid" ng-repeat="objProyecto in estadoEstudianteCtrl.proyectos | filter:{estado:'aceptado'}:true track by $index">
                          <div class="panel-group" id="accordion3" >
                            <div class="panel panel-default">
                              <div class="panel-heading">
                                <div class="row">
                                  <div class="col-md-4">
                                    <h4 class="panel-title md-padd">
                                      <span data-toggle="collapse" data-target="#demo">Nombre del estudiante <a data-toggle="collapse" ng-model="estadoEstudianteCtrl.nombreEstudiante" value="{{objProyecto.nombreEstudiante}}"  data-parent="#accordion">{{objProyecto.nombreEstudiante}}</a></span>
                                    </h4>
                                  </div>
                                </div>
                              </div>
                              <div id="collapse1" class="panel-collapse collapse in">
                                <div class="panel-body">
                                  <p><small>Correo Electrónico:</small></p>
                                  <p ng-model="estadoEstudianteCtrl.emailEstudiante" value="{{objProyecto.emailEstudiante}}">
                                    {{objProyecto.emailEstudiante}}
                                  </p>
                                </div>
                              
                                <div class="panel-body">
                                  <p><small>Género:</small></p>
                                  <p ng-model="estadoEstudianteCtrl.genero" value="{{objProyecto.genero}}">
                                    {{objProyecto.genero}}
                                  </p>
                                </div>
                                <div class="panel-body">
                                  <p><small>Carrera:</small></p>
                                  <p ng-model="estadoEstudianteCtrl.carreraSeleccionada" value="{{objProyecto.carreraSeleccionada}}">
                                    {{objProyecto.carreraSeleccionada}}
                                  </p>
                                </div>
                                <div class="panel-body">
                                  <p><small>Curso seleccionado:</small></p>
                                  <p ng-model="estadoEstudianteCtrl.cursoSeleccionado" value="{{objProyecto.cursoSeleccionado}}">
                                    {{objProyecto.cursoSeleccionado}}
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                  </md-content>
              </md-tab>

              <md-tab label="Estudiantes Rechazados">
                  <md-content>
                      <div class="container-fluid" ng-repeat="objProyecto in estadoEstudianteCtrl.proyectos | filter:{estado:'rechazado'}:true track by $index">
                          <div class="panel-group" id="accordion3" >
                            <div class="panel panel-default">
                              <div class="panel-heading">
                                <div class="row">
                                  <div class="col-md-4">
                                    <h4 class="panel-title md-padd">
                                      <span data-toggle="collapse" data-target="#demo">Nombre del estudiante rechazado <a data-toggle="collapse" ng-model="estadoEstudianteCtrl.nombreEstudiante" value="{{objProyecto.nombreEstudiante}}"  data-parent="#accordion">{{objProyecto.nombreEstudiante}}</a></span>
                                    </h4>
                                  </div>
                                </div>
                              </div>
                               <div id="collapse1" class="panel-collapse collapse in">
                                <div class="panel-body">
                                  <p><small>Correo Electrónico:</small></p>
                                  <p ng-model="estadoEstudianteCtrl.emailEstudiante" value="{{objProyecto.emailEstudiante}}">
                                    {{objProyecto.emailEstudiante}}
                                  </p>
                                </div>
                              
                                <div class="panel-body">
                                  <p><small>Género:</small></p>
                                  <p ng-model="estadoEstudianteCtrl.genero" value="{{objProyecto.genero}}">
                                    {{objProyecto.genero}}
                                  </p>
                                </div>
                                <div class="panel-body">
                                  <p><small>Carrera:</small></p>
                                  <p ng-model="estadoEstudianteCtrl.carreraSeleccionada" value="{{objProyecto.carreraSeleccionada}}">
                                    {{objProyecto.carreraSeleccionada}}
                                  </p>
                                </div>
                                <div class="panel-body">
                                  <p><small>Curso seleccionado:</small></p>
                                  <p ng-model="estadoEstudianteCtrl.cursoSeleccionado" value="{{objProyecto.cursoSeleccionado}}">
                                    {{objProyecto.cursoSeleccionado}}
                                  </p>
                                </div>
                                <div class="panel-body">
                                  <p><small>Razón:</small></p>
                                  <textarea ng-model="estadoEstudianteCtrl.razon"></textarea>
                                </div>
                                <div class="panel-body">
                                  <button type="button" class="btn btn-primary" ng-click="estadoEstudianteCtrl.enviar()">Enviar </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                  </md-content>
              </md-tab>
              <md-tab label="">

              </md-tab>
          </md-tabs>
        </div>
      </div>
    </md-content>
  </div>
</div>
<div ui-view></div>
